# This is Git's per-user configuration file.
[user]
	name = chunza2542
	email = hello@thechun.dev
	signingkey = 6347DAC217A6B465
[core]
	excludesfile = /Users/rapeepat.k/.gitignore_global
[commit]
	gpgsign = false
[alias]
	logs = log --show-signature
